.selected-option {
    background: #eee;
    padding: 4px 6px;
    border-radius: 3px;
    font-size: 14px;
    margin: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.clear-icon {
    margin-left: 2px;
    cursor: pointer;
    margin-top: 4px;
}

span.single-option {
    background-color: transparent;
    margin-right: 0;
    padding: 0;
}