.drop-down-container {
    margin-top: 8px;    
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    max-height: 200px;
    overflow: auto;
    box-shadow: 0px 2px 3px 0px #eee;
    z-index: 1;
    background: #fff;
}

.drop-down-container :first-child {
    margin-top: 4px;
}

.drop-down-container :last-child {
    margin-bottom: 4px;
}